@import "../variables";
@import "../space-star";

.about {
  @include widthAndHeight(100%, 100%);
  background-color: $primary-color;

  &__content {
    @include flexible(flex, center, center, column, null);
    @include widthAndHeight(null, 100%);
    padding: 6em 0;

    &__title {
      margin: 0;
      font-size: 4em;
      color: $text-contrast;

      @media (max-width: 576px) {
        font-size: 3.5em;
      }
    }

    &__description {
      @include flexible(flex, center, null, null, wrap);
      color: $text-contrast;
      margin-bottom: 1.5em;

      p {
        color: inherit;
        max-width: 440px;
        font-size: 1.5em;
        line-height: 1.4;
        margin: 0;
        padding: 0.5em;

        @media (max-width: 576px) {
          font-size: 1.3em;
        }
      }
    }

    &--button {
      text-decoration: none;
      color: $text-contrast;
      border: 2px solid $tertiary-color;
      padding: 0.9em 1.5em;
      border-radius: 4px;
      font-size: 1.5em;
      transition: all 100ms ease-in-out;

      &:hover {
        color: $primary-color;
        background-color: $tertiary-color;
      }

      &:active {
        background-color: darken($tertiary-color, 8%);
      }
    }
  }
}
