@import "../variables";
@import "../space-star";

.contact {
  @include widthAndHeight(100%, 100%);
  background-color: $tertiary-color;

  &__content {
    @include flexible(flex, center, center, column, null);
    @include widthAndHeight(null, 100%);
    padding: 6em 0;

    &__title {
      margin: 0;
      font-size: 4em;
      color: $secondary-color;

      @media (max-width: 576px) {
        font-size: 3.5em;
      }
    }

    .star-content {
      &__star {
        border-bottom: 0.7em solid $secondary-color;

        &::before, &::after {
          border-bottom: 0.7em solid $secondary-color;
        }
      }

      &::after {
        background-color: $secondary-color;
      }

      &::before {
        background-color: $secondary-color;
      }
    }

    .custom-form {
      @include widthAndHeight(75%, 100%);

      @media (max-width: 768px) {
        width: 100%;
      }

      &__content {
        @include flexible(flex, center, null, column, null);

        input {
          padding: 1.25em 0.25em;
          font-size: 2em;
          border: none;
          border-bottom: 1px solid darken($tertiary-color, 5%);
          outline: none; // bad for accessibility

          @media (max-width: 576px) {
            padding: 1.25em 0.5em;
            font-size: 1.2em;
          }

          &:focus {
            background-color: lighten($primary-color, 56%);
          }

          &::placeholder {
            opacity: 0.6;
          }
        }

        textarea {
          resize: none;
          border: none;
          font-size: 2em;
          padding: 1.25em 0.25em;
          border-bottom: 1px solid darken($tertiary-color, 5%);
          outline: none; // bad for accessibility

          @media (max-width: 576px) {
            padding: 1.25em 0.5em;
            font-size: 1.2em;
          }

          &:focus {
            background-color: lighten($primary-color, 56%);
          }

          &::placeholder {
            opacity: 0.6;
          }
        }
      }

      .custom-from--button {
        align-self: start;
        font-size: 1.5em;
        color: $text-contrast;
        background-color: $primary-color;
        border: 1px solid darken($primary-color, 2%);
        padding: 0.9em 1.5em;
        margin: 1.2em 0;
        border-radius: 4px;
        cursor: pointer;
        outline: none; // bad for accessibility
        transition: background-color 100ms ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;

        @media (max-width: 576px) {
          width: 95%;
          margin-left: 2.5%;
        }

        &:hover {
          background-color: darken($primary-color, 5%);
        }

        &:active {
          background-color: darken($primary-color, 8%);
        }
      }
    }
  }
}
