@import "../variables";


.footer {
  @include widthAndHeight(100%, 100%);
  background-color: $secondary-color;

  &__content {
    @include flexible(flex, center, null, null, wrap);
    @include widthAndHeight(null, 100%);
    padding: 3.5em 1em;

    h2 {
      margin: 0 0 0.75em 0;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      line-height:1.5;
      font-weight: 500;
    }

    &__item {
      color: $text-contrast;
      width: 300px;
      text-align: center;
    }

    .icon-wrapper {
      @include flexible(flex, center, null, null, null);

      .icon {
        @include widthAndHeight(40px, 40px);
        @include flexible(flex, center, center, null, null);
        border: 1px solid white;
        border-radius: 50%;
        margin: 5px;
        text-decoration: none;
        color: $text-contrast;
      }
    }

    a.item-span {
          text-decoration: none;
          color: $primary-color;
        }
  }

  .copyrights {
    @include widthAndHeight(100%, 50px);
    @include flexible(flex, center, center, null, null);
    color: $text-contrast;
    background-color: darken($secondary-color, 12%);

    small {
      opacity: 0.8;
    }
  }
}
