@import '../variables';

.navigation {
  @include widthAndHeight(100%, null);
  background-color: $secondary-color;
  z-index: 5;

  @media(max-width: 768px) {
    position: fixed;
  }

  &__content {
    @include flexible(flex, space-between, center, null, null);
    padding: 1.5em 1em;

    &__title {
      margin: auto 0;
      font-size: 2em;
      color: $text-contrast;

      @media(max-width: 768px) {
        font-size: 1.6em;
        margin: 0;
      }

      @media(max-width: 348px) {
        font-size: 1.4em;
        padding: 2px 0;
      }
    }

    &__sections {
      @include flexible(flex, null, null, null, null);
      list-style: none;
      color: $text-contrast;

      @media(max-width: 768px) {
        display: none;
      }

      li {
        padding: 0.5em 1em;
        font-weight: 700;
        font-size: 1.1em;
        letter-spacing: 1px;
        cursor: pointer;
        transition: color 100ms ease-in-out;

        a {
          text-decoration: none;
          color: inherit;
        }

        &:hover {
          color: $primary-color;
        }

        &:active {
          color: darken($primary-color, 10%)
        }
      }
    }

    &__menu {
      display: none;
      @media(max-width: 768px) {
        display: flex;
      }

      &--toggle {
        @include widthAndHeight(50px, 50px);
        position: absolute;
        top: 9px;
        right: 9px;
        z-index: 10;
        cursor: pointer;
        opacity: 0;

        &:checked + .navigation__content__menu--hamburger > div {
          transform: rotate(135deg);
        }

        &:checked + .navigation__content__menu--hamburger > div:before,
        &:checked + .navigation__content__menu--hamburger > div:after {
          top: 0;
          transform: rotate(90deg);
        }

        &:checked:hover + .navigation__content__menu--hamburger > div {
          transform: rotate(225deg);
        }

        &:checked ~ .navigation__content__menu--overlay {
          visibility: visible;

          & > div {
            @include widthAndHeight(null, 100%);
            transform: scale(1);
            border-radius: 0;
            transition-duration: 500ms;

            & > div {
              opacity: 1;
              transition: opacity 300ms ease;
            }
          }
        }
      }

      &--hamburger {
        position: absolute;
        top: 9px;
        right: 9px;
        @include flexible(flex, center, center, null, null);
        @include widthAndHeight(60px, 60px);
        z-index: 8;
        padding: 1rem;
        background-color: $primary-color;
        border-radius: 50%;

        & > div {
          position: relative;
          @include widthAndHeight(100%, 2px);
          @include flexible(flex, center, center, null, null);
          background-color: white;
          transition: all 300ms ease;

          &:before, &:after {
            content: '';
            position: absolute;
            top: -10px;
            z-index: 8;
            @include widthAndHeight(100%, 2px);
            background: inherit;
          }

          &:after {
            top: 10px;
          }
        }
      }

      &--overlay {
        position: fixed;
        @include widthAndHeight(100%, 100%);
        @include flexible(flex, center, center, null, null);
        top: 0;
        left: 0;
        z-index: -1;
        visibility: hidden;
        overflow: hidden;

        & > div {
          @include widthAndHeight(200vw, 200vw);
          @include flexible(flex, center, center, null, null);
          background-color: $secondary-color;
          opacity: 0.95;
          border-radius: 50%;
          flex: none;
          transform: scale(0);
          transition: all 300ms ease;

          & > div {
            text-align: center;
            max-width: 90vw;
            max-height: 100vh;
            opacity: 0;
            transition: opacity 300ms ease;

            & > ul {
              padding: 0;

              li {
                list-style: none;
                color: $primary-color;
                font-size: 1.75rem;
                font-weight: 700;
                padding: 1rem;

                @media(min-width: 576px) {
                  font-size: 2.5rem;
                }

                & > a {
                  color: inherit;
                  text-decoration: none;
                  transition: color 300ms ease;
                }
              }
            }
          }
        }
      }
    }
  }
}
