@import "../variables";
@import "../space-star";

.portfolio {
  @include widthAndHeight(100%, 100%);
  background-color: $tertiary-color;

  &__content {
    @include flexible(flex, center, center, column, null);
    @include widthAndHeight(null, 100%);

    .star-content {
      &__star {
        border-bottom: 0.7em solid $secondary-color;

        &::before, &::after {
          border-bottom: 0.7em solid $secondary-color;
        }
      }

      &::after {
        background-color: $secondary-color;
      }

      &::before {
        background-color: $secondary-color;
      }
    }

    &__title {
      margin: 0;
      padding: 1em;
      color: $secondary-color;
    }

    &__card-wrapper {
      @include widthAndHeight(100%, 100%);
      @include flexible(flex, center, null, row, wrap);

      .card {
        @include widthAndHeight(300px, 200px);
        @include flexible(flex, center, center, null, null);
        margin: 1em;

        img {
          @include widthAndHeight(100px, 100px);
          border-radius: 50%;
        }
      }
    }
  }
}
