@import "../variables";
@import "../space-star";

.welcome {
  @include widthAndHeight(100%, 100%);
  background-color: $primary-color;

  &__content {
    @include flexible(flex, center, center, column, null);
    @include widthAndHeight(null, 100%);
    padding: 6em 1em;

    @media(max-width: 768px) {
      margin-top: 130px;
    }

    &__avatar {
      @include widthAndHeight(280px, 280px);
      @include flexible(flex, center, center, null, null);
      background-color: $secondary-color;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 2em;
    }

    &__title {
      margin: 0;
      font-size: 4.8em;
      color: $text-contrast;

      @media(max-width: 768px) {
        font-size: 3em;
      }
    }

    &__description {
      @include flexible(flex, null, null, null, null);

      p {
        font-size: 2em;
        margin: 0;
        color: $text-contrast;

        @media(max-width: 768px) {
          font-size: 1.5em;
        }
      }
    }
  }
}
