@import "../variables";
@import "../space-star";

.welcome {
  @include widthAndHeight(100%, 700px);
  background-color: $primary-color;

  &__content {
    @include flexible(flex, center, center, column, null);
    @include widthAndHeight(null, 100%);

    &__avatar {
      @include widthAndHeight(200px, 200px);
      background-color: $secondary-color;
      border-radius: 50%;
    }

    &__title {
      margin: 0;
      padding: 1em;
      color: $text-contrast;
    }

    &__description {
      @include flexible(flex, null, null, null, null);

      p {
        padding: 1em;
        color: $text-contrast
      }
    }
  }
}
