$primary-color: #19BB9C;
$secondary-color: #303D4F;
$tertiary-color: #FFFFFF;
$text-contrast: #FFFFFF;

@mixin flexible ($display, $justify, $align, $direction, $wrap) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin widthAndHeight ($width, $height) {
  width: $width;
  height: $height;
}
